    <div id="wrapper" class="row">
    <div class="col-md-4 col-md-offset-4">
      <div id="login_form" class="form-container">
     <form action="confirmation.html" method="GET" class="form-horizontal">
      
      <div class="form-group">
        <h3>You know the (login) drill:</h3>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="email" id="login_email" value="" placeholder="Email address " />
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" id="login_password" placeholder="Password"/>
        <br>
      </div>
      <div class="submit-btn form-group">
        <label for="first_button"></label>
        <input type="submit" value="login" id="first_button" class="btn btn-default" />
      </div>
     </form>
     </div>
     <br>
     <br>
     <div id="signup_form" class="form-container">
     <form action="thankyou.html" method="GET" class="form-horizontal">
      <div class="form-group">
        <h3>Join the party!</h3>
      </div>
       <div class="form-group"> 
        <input type="text" name="first_name" id="first_name" class="form-control" placeholder="First name"/>
      </div>  
      <div class="form-group">
        <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last name"/>
      </div>
      <div class="form-group">
        <input type="text" name="email" id="signup_email" value="" placeholder="Email address" class="form-control"/>
      </div>
      <div class="form-group">
        <input type="password" name="password" id="signup_password" class="form-control" placeholder="Password"/>
      </div>
      <div class="form-group remember">
        <input type="checkbox" name="remember"></input>
        <label>remember me</label>
      </div>
      <div class="form-group submit-btn">
        <label>
        </label>
        <input type="submit" value="sign up" id="second_button" class="btn btn-default"/>
      </div>
      
        </form>
        </div>
      </div>
      </div>