<div id="profile" class="row">
  <div class="col-md-4 col-md-offset-4">
    <img src="https://s-media-cache-ak0.pinimg.com/736x/5d/75/82/5d75828a5aacdbbca2d2a932c9f18e6c.jpg"/>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <div class="username">
  <h1><%=@user.username%></h1>
    </div>
  </div>
</div>